[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#redis = "*"
redis-py-cluster = "*"
requests = ">=2.21.0"
typesystem = "*"
responder = ">=2.0.5"

[dev-packages]
nose = "*"
black = "==18.9b0"
pytest = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.7"
