[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
requests = ">=2.21.0"
typesystem = "*"
responder = "*"

[dev-packages]
nose = "*"
black = "==18.9b0"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.6"
